## Import the libraries

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {
    "Area": [1200, 1500, 800, 1800, 1000],
    "Bedrooms": [2, 3, 1, 4, 2],
    "City": ["Mumbai", "Delhi", "Mumbai", "Bangalore", "Delhi"],
    "Education": ["Bachelor", "Master", "Bachelor", "PhD", "Master"],
    "Price": [5000000, 7000000, 3000000, 9000000, 4500000]
}
df = pd.DataFrame(data)

In [4]:
df

   Area  Bedrooms       City Education    Price
0  1200         2     Mumbai  Bachelor  5000000
1  1500         3      Delhi    Master  7000000
2   800         1     Mumbai  Bachelor  3000000
3  1800         4  Bangalore       PhD  9000000
4  1000         2      Delhi    Master  4500000

## TASK 1 — Separate Features & Target

* Write code to:

    Create X (all columns except Price)
    
    Create y (Price only)

In [5]:
X = df.drop("Price", axis=1)
y = df["Price"]
X, y, X.shape, y.shape

(   Area  Bedrooms       City Education
 0  1200         2     Mumbai  Bachelor
 1  1500         3      Delhi    Master
 2   800         1     Mumbai  Bachelor
 3  1800         4  Bangalore       PhD
 4  1000         2      Delhi    Master,
 0    5000000
 1    7000000
 2    3000000
 3    9000000
 4    4500000
 Name: Price, dtype: int64,
 (5, 4),
 (5,))

## TASK 2 — Train / Test Split
* Using train_test_split:

    Split X and y
    
    80% training, 20% testing
    
    Ensure reproducibility

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)


print(X_train.shape) 
print(X_test.shape) 
print(y_train.shape)
print(y_test.shape) 
print(len(X_train)) 
print(len(X_test)) 
print(len(y_train)) 
print(len(y_test))

(4, 4)
(1, 4)
(4,)
(1,)
4
1
4
1

## TASK 3 — DATA LEAKAGE TRAP

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [15]:
num_cols = X_train.select_dtypes(include =['int64', 'float64']).columns

In [17]:
X_train[num_cols] = scaler.fit_transform(X_train[num_cols])
X_test[num_cols] = scaler.fit_transform(X_test[num_cols])

In [19]:
X_train, X_test

(       Area  Bedrooms       City Education
 4 -0.534522 -0.229416      Delhi    Master
 2 -1.069045 -1.147079     Mumbai  Bachelor
 0  0.000000 -0.229416     Mumbai  Bachelor
 3  1.603567  1.605910  Bangalore       PhD,
    Area  Bedrooms   City Education
 1   0.0       0.0  Delhi    Master)